* {
    box-sizing: border-box;
    margin: 0px auto;
}

.header-container {
    display: grid;
    grid-template-columns: auto 1fr auto auto auto;
    grid-gap: 30px;
    background-color: #1A535C;
    color: #F7FFF7;
    padding: 20px;
    align-items: center;
}
  
.shop {
    font-size: 40px;
    font-weight: bold;
    padding-left: 40%;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.menu a:not(:last-child) {
    margin-right: 30px;
}
  
.icon img {
    height: 35px;
    margin-right: 20px;
}

#commodity-link:hover {
    color: #FFE66D; 
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

.total {
    font-weight: bold;
}

.commonButton {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border: solid 5px lightgray;
    margin-left: 35%;
}

#allForm {
    margin: 0px auto;
    padding: 0px 10%;
}

main {
    padding: 10px 5%;
    float: right;
    width: 60%;
}

aside {
    padding: 10px 5%;
    float: left;
}

#cardCheck {
    background-color: #d0d035;
}

#expiryDate input {
    width: 30px;
}

.no-spinners::-webkit-inner-spin-button,
.no-spinners::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
