* {
    box-sizing: border-box;
    margin: 0px auto;
}

body {
    background-color: #fdecef;
    margin: 0px;
}

main {
    padding: 20px;
    width: 70%;
    display: grid;
    grid-template-columns: 3fr 4fr;
    gap: 10px;
    grid-auto-flow: row;
}

h1 {
    font-size: 40px;
    margin: 5px 0px;
}

section {
    border: solid gray 5px;
}

section img {
    border: solid gold 5px;
    margin: 10px 0px;
}

span {
    font-size: 28px;
    display: flex;
    margin: 15px 0px;
}

footer {
    background-color: #cda8b8;
    color: #444444;
    text-align: center;
    padding: 10px;

    margin-top: 20px;
}

aside {
    text-align: center;

    grid-area: 6/1/7/4;
}

.card {
    /*background-color: white;*/
    padding: 20px;
    margin: 10px;
    border-radius: 20px;
    text-align: center;
    background-size: cover;
}

.photo img {
    border-radius: 50%;
}

li {
    list-style: none;
    display: inline-block;
    position: relative;
}

li ul {
    display: none;
    font-size: 24px;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: rgba(255, 255, 255, 0.295);
    border: 2px solid #ccc;
}

li:hover ul {
    display: block;
}

p {
    font-size: 40px;
    margin: 15px 0px;
}

label {
    font-size: 36px;
}

input {
    font-size: 36px;
    width: 60px;
    margin: 5px;
}

button {
    font-size: 36px;
    background-color: #db7134;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
} 